body {
  height: 100vh;
  width: 100%;
}

.center-title {
  color: var(--high-contast-text);
  text-align: center;
  margin-bottom: 1rem;
}

.info-compte-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.info-compte-container > h2{
  color: var(--high-contast-text)
}

form {
  background-color:var(--sub-bg-color);
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
}

label {
  color: var(--high-contast-text);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--default-animed-ui-border-color);
  border-radius: 4px;
  background-color: var(--hover-solid-color);
  color: var(--high-contast-text);
  margin-bottom: 15px;
}

input[type="submit"], button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-solid-color);
  color:   var(--low-contrast-text);
  border: 1px solid var(--default-animed-ui-border-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover, button:hover {
  background-color: var(--hover-solid-color);
  color:   var(--high-contrast-text);
  border: 1px solid var(--hover-animed-ui-border-color);
}

.form-group {
  margin-bottom: 15px;
}

/* Alignement de la checkbox et du label */
.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group-inline input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.success-message,
.error-message {
  text-align: center;
  margin-top: 10px;
}

.success-message {
  color: var(--succes-color);
}

.error-message {
  color: var(--error-color);
}

.return-button {
  margin-top: 20px;
  background-color: var(--main-solid-color);
  color:   var(--low-contrast-text);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.return-button:hover {
  background-color: var(--hover-solid-color);
  color:   var(--high-contrast-text);
  border: 1px solid var(--hover-animed-ui-border-color);
  
}
.password-container {
  position: relative;
}

input[type="password"], input[type="text"] {
  width: 100%;
  padding-right: 40px; /* Pour faire de la place pour le bouton */
}

.show-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.show-password-btn.open {
  background-image: var(--svg-eye-open);
  background-color: var(--hover-solid-color);
}

.show-password-btn.closed {
  background-image: var(--svg-eye-closed);
  background-color: var(--hover-solid-color);
}
